
.container {
  width: 90%;
  margin: 20px auto;
}

.input-user-message {
  font-size: 13px;
  font-weight: 800;
}

.label-title {
  color: #800080;
  opacity: .8;
  font-weight: 800;
}

.input {
  color: #800080;
}

.invalid-feedback {
  font-size: 10px;
  font-weight: 900;
}

.is-disabled {
  cursor: not-allowed;
  color: grey;
  background-color: lightgrey !important;
}

@media screen and (min-width: 800px) {
  .container {
    max-width: 650px;
  }
}