.logout-button-container {
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.logout-button-container .btn {
  box-shadow: none;
}



@media screen and (min-width: 1024px) {
  .logout-button-container {
    width: auto;
    margin-bottom: none;
  }
}