
.notes-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  align-items: center;
  width: 90%;
  margin: 20px auto;
 
}

.note-card {
  width: 100%;
  box-shadow: 5px 10px 18px #888888;

}

.note-card-title {
  font-weight: bolder;
  background-color: lightgrey;
  padding: 10px;
  border-radius: 5px;
}

.note-card-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.note-card-view-edit-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.note-card-status-dates {
  font-size: 9px;
  font-weight: 700;
  margin-bottom: 0;
  color: lightslategrey;
  letter-spacing: 2px;
}

@media screen and (min-width: 800px) {
  .note-card {
    width: 500px;
  }
}