.navbar {
  padding-bottom: 30px;
  width: 100vw;
  height: 200px;
  background-color: #3c005a;
}

.navbar-nav {
  align-items: center;
  gap: 10px;
}

.navbar-brand {
  font-size: 1rem;
}

.nav-link, .nav-link:visited, .nav-link:link {
  padding-bottom: 5px;
  width: auto;
  color: darkgrey;
}

.nav-link:hover {
  font-weight: 700;
  padding-bottom: 5px;
  color: white;
  border-bottom: 1px solid white;
}

.nav-link:active  {
  color: white;
  font-weight: 700;
}

.active {
  font-weight: bolder;
  color: grey;
}


.greeting-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 10px;
  right: 10px;
  width: auto;
}

.brand-link {
  display: flex;
  align-items: center;
  gap: 5px;
}

.brand-name {
  font-size: 1.725rem;
  pointer-events: none;
  cursor: default;
}

.branding-image {
  margin-left: 10px;
  width: 16px;
  height: 16px;
}

@media screen and (min-width: 480px) {
  .navbar-brand {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 990px) {
  .branding-image {
    height: 32px;
    width: 32px;
  }
}

@media screen and (max-width: 900px) {
  .navbar-nav {
    display: block;
  }
}