.navbar {
  align-items: center;
  padding-bottom: 30px;
  width: 100vw;
  height: 200px;
}

.navbar-brand {
  font-size: 1rem;
}

.nav-link {
  padding-bottom: 5px;
  width: auto;
}

.nav-link:hover {
  font-weight: 700;
  padding-bottom: 5px;
}

.active {
  font-weight: bolder;
}

.navbar-nav {
  gap: 10px;
}

.greeting-container {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 15px;
}

.brand-link {
  display: inline-block;
  align-items: center;
}

.branding-image {
  margin-left: 10px;
  width: 16px;
  height: 16px;
}

@media screen and (min-wdith: 480px) {
  .navbar-brand {
    font-size: 1.5rem;
  }
}

@media screen and ( min-width: 990px) {
  .branding-image {
    height: 32px;
    width: 32px;
  }
}


