
.modal-background {
  background-color: black;
  opacity: .7;
}

.modal-dialog {
  margin-top: 30px;
}

.modal-header {
  font-weight: 800;
  border-bottom: 1px solid black;
}

.modal-content {
  display: flex;
  justify-content: space-between;
}

.modal-edit-actions {
  display: flex;
  justify-content: space-between;
}

.close {
  text-shadow: none;
}
