body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ffc106;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* View Note */

.view {
  max-height: 400px;
  overflow: scroll;
}

/* Edit Note */

.edit {
  width: 100%;
  max-height: 80%;
  overflow: scroll;
  padding: 5px;
}

/* Note Title */
#note-title {
  border: none;
  outline: none;
  padding :none;
}


/* Note textarea */
#note-content {
  border: none;
  outline: none;
  padding :none;
  height: 40vh;
  overflow: scroll;
}

#note-content:focus, #note-title:focus {
  outline: inherit;
}

#note-item {
  height: 30vh;
  overflow: scroll;
}

/* Table-row */
.first-letter::first-letter {
  font-weight: bolder;
  font-size: 24px;
  border-bottom: thin solid grey;
  padding: auto auto;
}

.content-row {
  max-width: 450px;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
  padding-bottom: none;
}

textarea, td {
  letter-spacing: 2px;
}

td {
  padding: 0;
}

/*  Profile  */
.profile-image {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.profile-text {
  font-size: 1rem;
}

/* login */

 .login {
  margin: 50% auto;
}

/* Spinner */
.spinner {
  width: 80px;
  height: 80px;
  pointer-events: none;
}

/* Icon */
.icon {
  font-size: 40px;
}

@media (prefers-reduced-motion: no-preference) {
  .spinner {
    animation: Spinner-spin infinite 5s linear;
  }
}

@keyframes Spinner-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@media(min-width:641px) {
  .login {
    width: 200px;
    margin: 35%;
  }

  .profile-text {
    font-size: 1.5rem;
  }
}

@media(min-width: 981px) {
  .login {
        margin: 15%;
  }

}
